@import "./bootstrap";

.icon {
  font-size: 15px;
}

input[type="text"] {
  @extend .p-2;

  font-size: $font-size-sm;
  border: 1px solid $input-border-color;
  height: 35px;
  width: 308px;
  border-radius: 17.5px;
  background: $input-bg;
}

input.input-search {
  @extend .p-4;

  font-size: $font-size-base;
  height: 60px;
  border-radius: 30px;
}

input.input-with-icon {
  @extend .position-relative;

  .icon {
    @extend .d-flex;
    @extend .align-items-center;

    position: absolute;
    top: 0;
    bottom: 0;
  }
}

button {
  @extend .p-2;

  color: $button-text-color;
  background: $button-blue;

  height: 40px;
  width: 175px;
  border-radius: 20px;
}

.note-block {
  @extend .p-4;

  border-radius: $block-border-radius;
  border: 1px solid $block-border-color;
  background: $block-bg;
}

textarea {
  @extend .p-2;
  @extend .w-100;

  min-height: 180px;
  resize: none;
  overflow: auto;
  border-radius: $block-border-radius;
  border: 1px solid $block-border-color;
  background: $input-bg;
}
