$input-bg: white;
$page-bg: white;

$text-color: #443F46;
$button-text-color: white;

$button-blue: #F7F8FA;
$chart-blue: #85A7CA;

$block-bg: #F5F6F8;
$input-border-color: #D3D3D3;
$block-border-color: #F0F0F0;

$block-border-radius: 15px;
