$red-icon: #F66C6C;
$button-blue: #F7F8FA;
$chart-blue: #85A7CA;

$page-bg-white: white;
$block-bg-grey: #F5F6F8;
$input-border-grey: #D3D3D3;

$text-color: #443F46;

$block-radius: 15px;
$input-radius: 18px;
