<div class="container">
  <div class="row pt-7 pb-6">
    <div class="col">
      <img class="logo" src="assets/logo.png" alt="DISQO">
    </div>
  </div>
  <div class="row pt-3 pb-6">
    <div class="col">
      <div class="input-with-icon">
        <input
          class="input-search"
          type="text"
          name="search-text"
          placeholder="Search Notes">
        <div class="icon pe-5">
          <fa-icon
            [icon]="faSearch"
            flip="horizontal"
            size="lg"></fa-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-3 pb-8">
    <div class="col">
      <div class="note-block p-6">
        <h6 class="mt-0 mb-6 fw-bold ps-1">Create Note</h6>
        <div class="input-group pb-4">
          <label for="new-note-title" class="ps-1"><small>Note title</small></label>
          <input id="new-note-title" type="text" name="new-note-title">
        </div>
        <div class="input-group pb-4">
          <label for="new-note-text" class="ps-1"><small>Note</small></label>
          <textarea id="new-note-text"></textarea>
        </div>
        <div class="input-group pt-2">
          <button type="submit">
            Create
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="note-block p-5 mb-5">
        <h6 class="mt-0 mb-6 fw-bold">Note title</h6>
        <span class="input-group pt-2">
          Note text
        </span>
      </div>
    </div>
    <div class="col">
      <div class="notes-chart">
      </div>
    </div>
  </div>
</div>
